# VSCode project files
.vscode/
*.code-workspace

# Waveforms
*.vcd
*.fst
*.fst.hier

# packaging 
__pycache__

# hex files
*.bin

# sim
clear
*.log
*.xml
*.dump
*.elf
*.hex
sim_build

# Pytest
.pytest_cache



