//! **************************************************************************
// Written by: Map P.20131013 on Mon Feb 09 13:45:03 2026
//! **************************************************************************

SCHEMATIC START;
COMP "clk_100MHz" LOCATE = SITE "V10" LEVEL 1;
COMP "uart_tx" LOCATE = SITE "N18" LEVEL 1;
COMP "rst_on" LOCATE = SITE "U16" LEVEL 1;
COMP "rst" LOCATE = SITE "T10" LEVEL 1;
SCHEMATIC END;

