name: Generate RTL Images

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y yosys graphviz nodejs npm librsvg2-bin
          npm install -g netlistsvg

      - name: Generate images
        run: |
          cd images
          rm *
          make

      - name: Commit generated files
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add images/*.png
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Auto-generate RTL schematics"
            git push
          fi
