name: Read Me docs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"

  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"

jobs:
  build-images:
    name: build RTL images 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y yosys graphviz nodejs npm librsvg2-bin
          npm install -g netlistsvg

      - name: Generate images
        run: |
          make

