name: Read Me docs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"

  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"

jobs:
  build-images:
    name: build RTL images 
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Install tools
        run: |
          sudo apt update
          sudo apt install -y yosys graphviz nodejs npm librsvg2-bin
          npm install -g netlistsvg

      - name: Generate images
        run: |
          cd images
          make clean_png
          make

      - name: Commit generated files
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add images/*.png
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Auto-generate RTL schematics"
            git push
          fi
